<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.marklux.mapper.CalendarMapper">
    <insert id="createCalendar" useGeneratedKeys="true" keyProperty="id" parameterType="com.marklux.domain.Calendar">
        INSERT INTO calendars(`title`, `description`,`picture`,`creator_id`, `subscribed`, `created_at`, `updated_at`, `is_public`, `password`, `good_pick`, `bad_pick`)
        VALUES (#{title},#{description},#{picture},#{creatorId},#{subscribed},#{createdAt},#{updatedAt},#{isPublic},#{password},#{goodPick},#{badPick});
    </insert>
    <select id="getCalendar" resultType="com.marklux.domain.Calendar">
        SELECT * FROM calendars WHERE id = #{id}
    </select>
    <select id="getCalendarByCreatorId" resultType="com.marklux.domain.Calendar">
        SELECT id,title,description,subscribed,picture
        FROM calendars
        WHERE creator_id = #{creatorId}
    </select>
    <select id="getMostSubscribed" resultType="com.marklux.domain.Calendar">
        SELECT * FROM calendars ORDER BY subscribed DESC LIMIT 0,#{num};
    </select>
    <select id="getCalendars" resultType="com.marklux.domain.Calendar">
        SELECT calendars.id,calendars.title,calendars.picture,
        calendars.subscribed,calendars.is_public,calendars.creator_id,
        subscribes.calendar_id > 0 as is_subscribed
        FROM calendars
        LEFT JOIN (SELECT calendar_id FROM calendar_subscribe WHERE user_id = #{userId}) subscribes
        ON calendars.id = subscribes.calendar_id
        ORDER BY calendars.created_at DESC
        LIMIT #{page},#{size};
    </select>
    <select id="getCalendarLike" resultType="com.marklux.domain.Calendar">
        SELECT id,title,picture,subscribed,is_public,creator_id FROM calendars
        WHERE title LIKE #{key}
        ORDER BY created_at DESC LIMIT #{page},#{size};
    </select>
    <select id="getCalendarDetail" resultType="com.marklux.domain.CalendarDetail">
        SELECT calendars.*,users.name as creator_name,users.avatar as creator_avatar
        FROM calendars
        LEFT JOIN users
        ON calendars.creator_id = users.id
        WHERE calendars.id = #{id};
    </select>
    <select id="checkOwnerShip" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM calendars
        WHERE id = #{calendarId}
        AND creator_id = #{userId}
    </select>
    <update id="updateCalendar" parameterType="com.marklux.domain.Calendar">
        UPDATE calendars SET
          title = #{title},
          description = #{description},
          picture = #{picture},
          creator_id = #{creatorId},
          subscribed = #{subscribed},
          created_at = #{createdAt},
          updated_at = #{updatedAt},
          is_public = #{isPublic},
          password = #{password},
          good_pick = #{goodPick},
          bad_pick = #{badPick}
        WHERE id = #{id}
    </update>
    <delete id="deleteCalendar">
        DELETE FROM calendars WHERE id = #{id}
    </delete>
</mapper>