<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.marklux.mapper.CalendarItemMapper">
    <insert id="createItem" useGeneratedKeys="true" keyProperty="id" parameterType="com.marklux.domain.CalendarItem">
        INSERT INTO calendar_items(calendar_id,name,item,type,pick_count,format)
        VALUES (#{calendarId},#{name},#{item},#{type},#{pickCount},#{format})
    </insert>
    <insert id="createItems" parameterType="java.util.List">
        INSERT INTO calendar_items(calendar_id,name,item,type,pick_count,format)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.calendarId},#{item.name},#{item.item},#{item.type},#{item.pickCount},#{item.format})
        </foreach>
    </insert>
    <select id="getItems" resultType="com.marklux.domain.CalendarItem">
        SELECT * FROM calendar_items WHERE calendar_id = #{calendarId}
    </select>
    <update id="updateItem" parameterType="com.marklux.domain.CalendarItem">
        UPDATE calendar_items SET
        carlendar_id = #{calendarId}
        name = #{name}
        item = #{item}
        type = #{type}
        pick_count = #{pickCount}
        format = #{format}
        WHERE id = #{id}
    </update>
    <delete id="deleteItem">
        DELETE FROM calendar_items WHERE id = #{id}
    </delete>
    <delete id="deleteItemsByCalendarId">
        DELETE FROM calendar_items WHERE calendar_id = #{calendarId}
    </delete>
</mapper>