<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.marklux.mapper.UserMapper">
    <select id="getUserById" resultType="com.marklux.domain.User">
        SELECT * FROM users where id = #{id};
    </select>
    <select id="getUserByName" resultType="com.marklux.domain.User">
        SELECT * FROM users where name = #{name};
    </select>
    <select id="getUserBy" resultType="com.marklux.domain.User">
        SELECT * FROM users where #{key} = #{value};
    </select>
    <insert id="createUser" useGeneratedKeys="true" keyProperty="id" parameterType="com.marklux.domain.User">
        INSERT INTO users(name,avator,password,signature,sex,add_on,created_at,updated_at)
        VALUES (#{name},#{avator},#{password},#{signature},#{sex},#{addOn},#{createdAt},#{updatedAt});
    </insert>
    <update id="updateUser" parameterType="com.marklux.domain.User">
        UPDATE users SET
        name = #{name},
        avator = #{avator},
        password = #{password},
        signature = #{signature},
        sex = #{sex},
        add_on = #{addOn},
        created_at = #{createdAt},
        updated_at = #{updatedAt}
        WHERE id = #{id};
    </update>
    <delete id="deleteUser">
        DELETE FROM users WHERE id = #{id};
    </delete>
</mapper>