<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--使用jdbc获取数据库自增id-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--列别名替换别名-->
        <setting name="useColumnLabel" value="true"/>
        <setting name="cacheEnabled" value="false"/>
        <!--驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--不忽略空字段-->
        <setting name="callSettersOnNulls" value="true"/>
    </settings>
</configuration>